# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
.vs/

# Set default behavior to automatically normalize line endings
* text=auto

# Specify files that should always use LF
*.sh text eol=lf
*.md text eol=lf

# Specify files that should always use CRLF
*.bat text eol=crlf
*.ps1 text eol=crlf


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
appsettings.Development.json
appsettings.json
