<div class="container py-5">
    <img src="~/images/accessDenied.jpg" style="width:100%;mix-blend-mode:darken">
    <div class="text-center">
        <h1 class="fw-bold text-danger">Access Denied</h1>
    </div>
</div>