<div class="container py-5">
    <div class="row flex-lg-row">
        <div class="col-sm-6">
            <h4 class="fw-bold">Changing Perceptions About Car Buying</h4>
            <p>
                The qualities that make CarSales a trusted name in rental cars are the same ones that
                make our car buying experience stand out: exceptional customer service and quality vehicle selection.
                <br /><br />
                We understand that car buying can be intimidating, that’s why we’re committed to make everything
                simple. Start your purchase online by browsing our inventory of used vehicles,
                schedule a test drive and apply for financing, all from the comfort of your home.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/images/carStock.jpg" style="width:100%" />
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container py-5">
        <div class="row pb-2">
            <h4 class="">Years Of Experience Meets Innovation</h4>
            <p>
                You may not have known it, but we’ve been selling quality vehicles since our 
                founder established CarSales in 1980. That’s years of fine-tuning our process to make your experience the best it can be. 
                While customer service has remained our priority,
                we’ve added new technology and online tools to make every purchase seamless.
            </p>
        </div>
        <div class="row pb-2">
            <h4 class="">Unmatched Quantity and Quality</h4>
            <p>
                Because we’re part of the CarSales family, many of our for-sale vehicles are from the rental fleet, 
                which means they’re recent models that have been meticulously cared for. 
                Knowing where they come from and that every vehicle has to pass our rigorous inspection means we can feel 
                confident about selling you a car you’ll love—and will drive for many years to come.
            </p>
        </div>
        <div class="row pb-2">
            <h4 class="">Ready to buy cars?</h4>
            <p>
                <a href="@Url.Action("Shop","Home","Customer")" style="color:#f63e4e" class="text-decoration-none">Start your purchase online</a> today or anytime you are ready
            </p>
        </div>
    </div>
</div>